<div class="row" id="thernd">
  <div class="col-12 text-center">
    <h1 class="myungjo">사업</h1>
    <h3 class="svn">Research & Development</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-sm-12 text-center arial">
    <img class="w-100" src="/assets/vectors/business1.png" alt="">
    <h4 class="mb-0 p-0 mx-auto">메이크업제품</h4>
    <h4>Makeup</h4>
    <br>
    <p>Lipstick, Lip Gloss, liptint, lip balm, lipliner, cheek, Cushion, tension, foundation, concealer, CC cream, BB cream, Eye shadow, eye liner, eyebrow mascara, highlighter, remover, primer</p>
  </div>

  <div class="col-md-6 col-sm-12 text-center arial">
    <img class="w-100" src="/assets/vectors/business2.png" alt="">
    <h4 class="mb-0 p-0 mx-auto">스킨케어제품</h4>
    <h4>Skin Care</h4>
    <br>
    <p class="mb-0">Skin, lotion, Cream, Essence, Ampoule, Cleansing, mask pack, men, junior, baby. Whitening products, anti-aging products, sunblock - sunscreen, multi-functional products</p>
  </div>

  <div class="col-md-6 col-sm-12 text-center arial">
    <img class="w-100" src="/assets/vectors/business3.png" alt="">
    <h4 class="mb-0 p-0 mx-auto">Hair care</h4>
    <br>
    <p class="mb-0">Shampoo, conditioner, hair pack, wax, spray ectt</p>
  </div>

  <div class="col-md-6 col-sm-12 text-center arial">
    <img class="w-100" src="/assets/vectors/business4.png" alt="">
    <h4 class="mb-0 p-0 mx-auto">Body care</h4>
    <br>
    <p class="mb-0">Body cleanser, body cream, hand cream, peeler, foot cream, slimming care</p>
  </div>
</div>

<div class="separator"></div>

<div class="row text-center" id="thebp">
  <h1 class="col-12 svn">Business Process</h1>
</div>

<div class="row">
  <div class="col-md-4 d-flex flex-column p-0" *ngFor="let pc of businessProcesses">
    <app-process [process]="pc" class="d-flex flex-column mr-0 ml-0 pr-0 pl-0"></app-process>
  </div>
</div>

<div class="separator"></div>

<div class="row text-center">
  <h1 class="col-12 svn">Notice</h1>
</div>
<div class="row text-center arial">
  <app-notice class="w-100 mt-5"></app-notice>
</div>
