<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <div class="form-group"><input type="text" class="form-control" placeholder="Customer Name*" ngModel name="name" required></div>
      <div class="form-group"><input type="text" class="form-control" placeholder="Tel No." ngModel name="tel"></div>
      <div class="form-group"><input type="text" class="form-control" placeholder="E-mail*" ngModel name="email" required email></div>
      <div class="form-group"><input type="text" class="form-control" placeholder="Company Name*" ngModel name="company"></div>
    </div>
    <div class="col-sm-12 col-md-8">
      <div class="col-sm-12 col-md-8 pl-0 pr-0">
        <div class="form-group"><input type="text" class="form-control" placeholder="Title*" ngModel name="title" required></div>
      </div>
      <div class="form-group">
        <textarea class="form-control" rows="5" placeholder="Description*" ngModel name="description" required></textarea>
      </div>
      <div class="form-group">
        <label for="attachment">Attachments</label>
        <input type="file" class="form-control-file" id="attachment" name="file" #fileInput>
      </div>
      <button class="btn btn-secondary w-25" type="submit" [disabled]="!f.valid">Send</button>
      <button class="btn btn-outline- w-25 font-italic" type="reset">Reset</button>
    </div>
  </div>
</form>
