<div class="text-center d-flex product-wrapper">
  <img class="position-absolute product-left" src="/assets/products/shiningcellsbg.png" alt="">
  <div class="mt-5 position-absolute product-info">
    <p class="arial p-0 mb-0">즉각적인 미백효과 + 자외선 차단효과를 가지는 </p>
    <p class="arial p-0 mb-0">바디로션 </p>
    <p class="arial p-0 mb-0">자연스러운 톤업 & 물광 피부 </p>
    <p class="arial p-0 mb-0">피부 깊숙이 생기 있고 화사한 피부톤을  </p>
    <p class="arial p-0">부여하는크림 </p>
    <button class="btn btn-outline-secondary arial">View more &rarr;</button>
  </div>
</div>
