<!--<img src="/assets/products/shiningcells.png" class="position-absolute">
<div class="product-wrapper border-custom">
  <div class="mt-5 mb-5 product-info text-center">
    <p class="arial">{{product.description}}</p>
    <button class="btn btn-outline-secondary arial">View more &rarr;</button>
  </div>
</div>
-->
<div class="row">
  <div class="col-md-4"><img src="{{product.imgPath}}" alt=""></div>
  <div class="col-md-8 text-center d-flex flex-row justify-content-center align-items-center flex-wrap">
    <p class="arial w-75">{{product.description}}</p>
    <div class="w-100"></div>
    <a [routerLink]="[product.name.toLowerCase().replace(' ', '')]" class="btn btn-outline-secondary">View more &rarr;</a>
  </div>
</div>
