<div class="text-center">
  <h3 class="mb-4 myungjo">소개</h3>
  <p class="malgun">상표 로고 및 컬러는  Kosmetics Kingdom 의 비즈니스 철학 및 방향을 의미합니다</p>
  <p class="malgun">  The CI, symbol, color imply the business philosophy & direction of Kosmetics Kingdom</p>
</div>
<div class="separator"></div>
<div class="">
  <div class="row">
    <div class="col-sm-12 col-md-6 pt-5">
      <div class="text-md-right text-sm-left">
        <h3 class="arial">CI & 기호</h3>
        <p class="arial">Kosmetics Kingdom의 브랜드와 로고는 자연과 조화를 이룬 이미지가 보이며 첨단  기술로 일류위신 화장품 브 랜드를 대표합니다</p>
        <br>
        <p class="arial">CI & symbol of Kosmetics Kingdom represents attributes as a leading cosmetic brand as advanced technology by using uncluttered & refined images based on the nature </p>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <img src="/assets/products/intro1.png" alt="">
      <div class="text-center arial">
        <p class="p-0 mb-0">기본 식별자</p>
        <p>Primary Identifier</p>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <img src="/assets/products/intro2.png" alt="">
      <div class="text-center arial">
        <p class="p-0 mb-0">차 식별 기호</p>
        <p>Secondary Identifier</p>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 pt-5">
      <div class="text-md-left text-sm-left">
        <h3 class="arial">이름</h3>
        <p class="arial">Kosmetics Kingdom 이라는 이름은 많은 동물 식물 토양 및 물이조화되고 번영하는 자연의 왕국을 의미합니 다. 인간의 아름다움은 자연의 아름다움과 조화를 이룹니다</p>
        <p class="arial">Kosmeetics Kingdom is the natural kingdom with animals and plants, land & water... in harmony and thriving. The beauty of human is the natural beauty in balance
        </p>
        <p class="arial">Kosmetics Kingdom 은 자연의 조화와 다양한 색상을 포함하고 있습니다</p>
        <p class="arial">Kosmetics Kingdom contains veriaty of natural colors in harmony</p>
      </div>
    </div>
  </div>
</div>
